html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

* {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    color: #05396B;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: #595959;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    color: #595959;
    font-size: 28px;
    font-weight: 700;
}

h4 {
    color: #595959;
    font-size: 24px;
    font-weight: 700;
}

h5 {
    color: #05396B;
    font-size: 20px;
    font-weight: 700;
}

h6 {
    color: #595959;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

p {
    color: #080808;
    font-size: 1em;
    font-weight: 400;
}

a {
    color: #89191f;
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
}

a:focus {
    color: #236192;
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
}

main {
    border-top: 3px solid #89191f;
    min-height: 800px;
    padding-top:12px;
}

img.svelte-a08hsz {max-height: 50px;}
